html {
  -webkit-text-size-adjust: 100%;
}
body {
    background-color: white;
}

/* Media queries */
/* Mobile */
@media only screen and (max-device-width: 800px){
  html{
    -webkit-text-size-adjust: 180%;
  }
  body {
    display:inline;
  }

}
/* Responsive desktop */
@media screen and (max-width: 840px){
  body {
    display: inline;
  }

}
